<div class="container">
  <div class="body">
    <div class="screen-container">
      <div class="screen">
        <div class="descrip">
        <div class="text">
          Discover Roadwise Academy, your trusted partner in learning the
          art of safe and responsible driving. Established with a passion for
          road safety and a commitment to excellence, we strive to be more than
          just a driving school – we're your pathway to mastering the skills
          needed for a lifetime of confident driving.
        </div>
        <div class="text">
          At Roadwise Academy, we understand that learning to drive is a
          significant milestone in life, and we're here to make that journey
          both educational and enjoyable. Our team of experienced instructors
          brings a wealth of knowledge and expertise to the table, ensuring that
          each student receives personalized attention and instruction tailored
          to their learning style and pace.
        </div>
        <div class="text">
          With our comprehensive curriculum, state-of-the-art facilities, and
          modern teaching methods, we provide a holistic approach to driver
          education. From the basics of vehicle control to advanced defensive
          driving techniques, our courses cover all aspects of safe driving,
          empowering our students to handle any situation they may encounter on
          the road with confidence and skill.
        </div>
    </div>
      </div>
    </div>
  </div>
</div>
