<div class="container">
  <div class="body">
    <app-admin-nav></app-admin-nav>
    <div class="screen-container">
      <div class="screen">
        <table>
          <caption>
            Session
          </caption>
          <thead>
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Etat</th>
              <th scope="col">CIN</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of myTableCondidat">
              <td>{{ data.Matricule }}</td>
              <td>{{ data.Kilometrage }}</td>
              <td>{{ data.Garage }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="screen">
        <table>
          <caption>
            Voitures
          </caption>
          <thead>
            <tr>
              <th scope="col">Matricule</th>
              <th scope="col">Kilométrage</th>
              <th scope="col">Garage</th>
              <th scope="col">Visite technique</th>
            </tr>
          </thead>
          <tbody>
            <!-- Use *ngFor to loop through myTableData and generate table rows -->
            <tr *ngFor="let data of myTableData">
              <!-- Use *ngFor to loop through each row's properties and generate table cells -->
              <td>{{ data.Matricule }}</td>
              <td>{{ data.Kilometrage }}</td>
              <td>{{ data.Garage }}</td>
              <td>{{ data.VisiteTechnique }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="screen">
        <table>
          <caption>
            Session
          </caption>
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Duree</th>
              <th scope="col">Candidat</th>
              <th scope="col">Moniteur</th>
            </tr>
          </thead>
          <tbody>
            <!-- Use *ngFor to loop through myTableData and generate table rows -->
            <tr *ngFor="let data of myTableSession">
              <!-- Use *ngFor to loop through each row's properties and generate table cells -->
              <td>{{ data.Matricule }}</td>
              <td>{{ data.Kilometrage }}</td>
              <td>{{ data.Garage }}</td>
              <td>{{ data.VisiteTechnique }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
