<div class="container">
  <div class="body">
    <app-admin-nav></app-admin-nav>
    <div class="screen-container">
      <div class="screen">
        <table>
          <caption>
            Candidats
          </caption>
          <thead>
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Etat</th>
              <th scope="col">CIN</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of usersList">
              <td>{{ data.nom }}</td>
              <td>{{ data.email }}</td>
              <td>{{ data.cin }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="screen">
        <table>
          <caption>
            Moniteurs
          </caption>
          <thead>
            <tr>
              <th scope="col">Nom</th>
              <th scope="col">Email</th>
              <th scope="col">Heures</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let moniteur of monitorsList">
              <td>{{ moniteur.nom }}</td>
              <td>{{ moniteur.email }}</td>
              <td>{{ moniteur.heure_Effectue }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="screen">
        <table>
          <caption>
            Voitures
          </caption>
          <thead>
            <tr>
              <th scope="col">Matricule</th>
              <th scope="col">Garage</th>
              <th scope="col">Visite Technique</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of carsList">
              <td>{{ data.matricule }}</td>
              <td>{{ data.garage }}</td>
              <td>{{ data.dateVisit }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
