<div class="container">
  <div class="navbar-brand" routerLink="/home">Roadwise Academy</div>
  <div class="form-container">
    <form (ngSubmit)="onSubmit()" class="signup-container">
      <div class="header">
        <h3>Welcome To Roadwise Academy</h3>
      </div>
      <p>Please fill all cases carefully</p>
      <div class="inputs">
        <div class="col-1">
          <div class="input-group">
            <label for="email" id="email">E-mail</label>
            <input
              type="text"
              id="email"
              [(ngModel)]="user.email"
              name="email"
            />
          </div>

          <div class="input-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="Password"
              [(ngModel)]="user.password"
              name="password"
            />
          </div>
        </div>
        <div class="col-2">
          <div class="input-group">
            <label for="cin">CIN</label>
            <input
              type="text"
              id="cin"
              [(ngModel)]="user.cin"
              name="cin"
            />
          </div>

          <div class="input-group">
            <label for="nom">Full name</label>
            <input
              type="text"
              id="nom"
              [(ngModel)]="user.nom"
              name="nom"
            />
          </div>
        </div>
        <div class="col-3">
          <div class="input-group">
            <label for="userAge">Age</label>
            <input
              type="number"
              id="userAge"
              [(ngModel)]="this.userAge"
              name="userAge"
            />
          </div>

          <div class="input-group">
            <label for="numéroTel">apprendre Code ou Conduite?</label>
            <input
              type="text"
              id="etat_Condidat"
              [(ngModel)]="user.etat_Condidat"
              name="etat_Condidat"
            />
          </div>
        </div>
      </div>
      <div class="submit-button-container">
        <button type="submit">Sign up</button>
      </div>
      <div class="back-class">
        <p class="signin-link">
          Already have an account? <a routerLink="/auth/login">Log in</a>
        </p>
      </div>
    </form>
  </div>
</div>
