.container {
  height: 97vh;
  font-family: Inter;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-container {
  width: 65%;
  height: 70%;
  margin-top: 60px;
  background-color: rgb(255, 254, 254);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.navbar-brand {
  font-size: 4vh;
  color: rgb(255, 132, 0);
  font-family: inter;
  padding-top: 20px;
  padding-left: 20px;
  cursor: pointer;
}
.header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header h3 {
  font-family: inter;
}

.header-img {
  width: 14vh;
}
.inputs {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.col-1,
.col-2 {
  flex: 1;
}

.input-group {
  margin-bottom: 5px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;

  color: black;
  font-size: 19px;
}

.input-group input {
  border-radius: 20px;
  padding-left: 10px;
  font-size: 16px;
  width: 220px;
  border: 0px;
  height: 7vh;
  outline: none;
  background-color: rgba(255, 166, 0, 0.112);
}

.select-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 4px;
  height: 5vh;
}

.submit-button-container {
  margin-top: 2vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.back-class {
  display: flex;
  justify-content: end;
  gap: 20px;
}

.back-home {
  cursor: pointer;
}

button {
  background-color: rgb(255, 136, 0);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  height: 40px;
  width: 30vh;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
  font-family: Inter;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

button:hover {
  background-color: #ff0000;
  scale: 1.1;
}

button:hover {
  background-color: #0114a1;
  scale: 1.05;
  transition: 0.6s;
}

.signin-link a:hover {
  text-decoration: underline;
  cursor: default;
}
.signin-link a{
    text-decoration: none;
  color: #ff8c00cf;
  font-weight: 600;
}