<div class="container">
  <div class="body">
    <app-admin-nav></app-admin-nav>
    <div class="screen-container">
      <div class="screen">
        <div class="add-user">
          <form>
            <div class="header">Ajouter Condidat</div>
            <div>
              <label for="nom">Nom:</label>
              <input
                class="input"
                type="text"
                id="nom"
                name="nom"
                [(ngModel)]="this.user.nom"
              />
            </div>
            <div>
              <label for="age">Age:</label>
              <input
                class="input"
                type="text"
                id="age"
                name="age"
                [(ngModel)]="this.user.age"
              />
            </div>
            <div>
              <label for="cin">CIN:</label>
              <input
                class="input"
                type="text"
                id="cin"
                name="cin"
                [(ngModel)]="this.user.cin"
              />
            </div>
            <div>
              <label for="etat_Condidat">État:</label>
              <input
                class="input"
                type="text"
                id="etat_Condidat"
                name="etat_Condidat"
                [(ngModel)]="this.user.etat_Condidat"
                required
              />
            </div>
            <div>
              <label for="email">Email:</label>
              <input
                class="input"
                type="email"
                id="email"
                name="email"
                [(ngModel)]="this.user.email"
              />
            </div>
            <div>
              <label for="password">Password:</label>
              <input
                class="input"
                type="password"
                id="password"
                name="password"
                [(ngModel)]="this.user.password"
                required
              />
            </div>
            <div>
              <button class="add-button" (click)="addUser()">Ajouter</button>
            </div>
          </form>
        </div>
        <div class="user-list">
          <table>
            <caption>
              Users
            </caption>
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nom</th>
                <th scope="col">CIN</th>
                <th scope="col">Email</th>
                <th scope="col">Etat</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of usersList" class="row">
                <td>{{ data.id }}</td>
                <td>{{ data.nom }}</td>
                <td>{{ data.cin }}</td>
                <td>{{ data.email }}</td>
                <td>{{ data.etat_Condidat }}</td>
                <td class="actions">
                  <button class="button-40"
                  (click)=" modifyUser(data)">
                    <img
                      src="../../../assets/modify.svg"
                      width="20px"
                      height="20px"
                    />
                  </button>
                  <button class="delete-button" (click)=" deleteUser(data.id)">
                    <img
                      src="../../../assets/delete.svg"
                      width="20px"
                      height="20px"
                    />
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="selectedUser" class="popup-overlay">
  <div class="popup">
    <h2>Modify User</h2>
    <!-- Form fields for modifying user details -->
    <div>
      <label for="nom">Nom:</label>
      <input
        class="input"
        type="text"
        id="nom"
        name="nom"
        [(ngModel)]="this.user.nom"
      />
    </div>
    <div>
      <label for="age">Age:</label>
      <input
        class="input"
        type="text"
        id="age"
        name="age"
        [(ngModel)]="this.user.age"
      />
    </div>
    <div>
      <label for="cin">CIN:</label>
      <input
        class="input"
        type="text"
        id="cin"
        name="cin"
        [(ngModel)]="this.user.cin"
      />
    </div>
    <div>
      <label for="etat_Condidat">État:</label>
      <input
        class="input"
        type="text"
        id="etat_Condidat"
        name="etat_Condidat"
        [(ngModel)]="this.user.etat_Condidat"
        required
      />
    </div>
    <div>
      <label for="email">Email:</label>
      <input
        class="input"
        type="email"
        id="email"
        name="email"
        [(ngModel)]="this.user.email"
      />
    </div>
    <div>
      <label for="password">Password:</label>
      <input
        class="input"
        type="password"
        id="password"
        name="password"
        [(ngModel)]="this.user.password"
        required
      />
    </div>
    <!-- Other input fields -->
    <div>
      <button (click)="closePopup()">Cancel</button>
      <button (click)="updateUser()">Submit</button>
    </div>
  </div>
</div>