<div class="container">
  <div class="block">
    <div class="left"></div>
    <div class="desc">
        <div>
      Welcome to your premier destination for
      comprehensive driver education. Our mission is simple: to empower every
      student with the skills and confidence necessary to become
      safe and responsible drivers for life. So let's embark on the journey to a competent driving
      together!
    </div>
      <button class="desc-button">Start Now</button>
    </div>
  </div>
  <div class="block-2">
    <div class="desc">
      where we're dedicated to turning learners into confident, competent
      drivers. Our team of professional instructors provides comprehensive
      training tailored to your individual needs. Sign up for lessons today
      and let's start your journey to driving success!
      <button class="desc-button">Join Here</button>
    </div>
    <div class="right"></div>
  </div>
</div>
