<div>
  <div class="selector">
    <div class="item">
      <img
        src="../../../assets/house.svg"
        width="30px"
        height="30px"
        routerLink="/admin-dashboard"
      />
      <div>Home</div>
    </div>
    <div class="item">
      <img
        src="../../../assets/client.svg"
        width="30px"
        height="30px"
        routerLink="/admin-dashboard/user"
      />
      <div>User</div>
    </div>
    <div class="item">
      <img
        class="monitor"
        src="../../../assets/moniteur.svg"
        width="30px"
        height="30px"
        routerLink="/admin-dashboard/moniteur"
      />
      <div>Teacher</div>
    </div>
    <div class="item">
      <img
        src="../../../assets/car.svg"
        width="30px"
        height="30px"
        routerLink="/admin-dashboard/car"
      />
      <div>Car</div>
    </div>
    <div class="item">
      <img
        src="../../../assets/session.svg"
        width="30px"
        height="30px"
        routerLink="/admin-dashboard/session"
      />
      <div>Session</div>
    </div>

    <div class="item">
      <img
        src="../../../assets/exam.svg"
        width="30px"
        height="30px"
        routerLink="/admin-dashboard/exam"
      />
      <div>Exam</div>
    </div>
    <div class="item">
      <img
        src="../../../assets/course.svg"
        width="30px"
        height="30px"
        routerLink="/admin-dashboard/car"
      />
      <div>Course</div>
    </div>
  </div>
</div>
<div class="logout"><a (click)="logout()">Log out</a></div>
