.container {
    width: 100%;
    height: 500px;
    display: flex;
    font-family: Inter;
    justify-content: center;
    gap: 30px;
  }
  .profile {
    background-color: rgb(255, 255, 255);
    width: 25%;
    height: 100%;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 1px 1px,
      rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 1px 2px;
  }
  
  .old-sessions {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 100%;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 1px 1px,
      rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 1px 2px;
  }
  .profile-header{
    font-size:20px;
    font-weight: 500;
    margin-top: 25px;
    margin-left: 15px;
  }
  .credentials{
    margin-top: 15px;
    margin-left: 25px;
    margin-bottom: 30px;
    
  }
   .label{
    margin-bottom: 10px;
    display: flex;
    color: rgb(255, 77, 0);
    font-size: 18px;
   
   }
   .data{
    margin-left: 10px;
    color: black;
    font-size: 16px;
    

   }
   .profile-desc{
    width: 80%;
    margin-left: 30px;
    padding-top: 25px;
    border-top: 2px solid;
    font-size: 20px;
   }
 
  .etat{
    font-weight: 700;
    font-size: 23px;
    color: rgb(255, 77, 0);
  }
  th {
    text-align: center;
    width: 200px;
    height: 3vh;
    border-bottom: 1px solid rgb(176, 176, 176);
  }
  td {
    text-align: center;
    width: 200px;
    height: 4vh;
    border-bottom: 1px solid rgb(197, 197, 197);
  }
  caption {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    margin-top: 20px;
  }


.log-butt{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
/* CSS */
.button-27 {
  
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  
  min-height: 45px;
  min-width: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 30%;
  height: 20px;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}